<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card style="text-align: center;">
                <mat-card-content>
                    Skontaktuj się z nami pod numerem telefonu:
                    <br>
                    <a href="tel:123-456-789">123-456-789</a>
                    <br>
                    lub
                    <br>
                    wyślij maila na adres:
                    <br>
                    <a href="mailto:123-456-789">wypożyczalnia123@gmail.com</a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>