<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card style="text-align: center;">
                <mat-card-content>
                    <pre>
                        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec dolor neque. Integer faucibus
                        arcu vitae sollicitudin mattis. Ut vestibulum, velit a vulputate molestie, mi lorem tempor elit, sit
                        amet tristique tellus mauris eu augue. Nullam euismod hendrerit dui quis mattis. Maecenas vel tellus
                        erat. Nullam sodales vulputate tortor, eu bibendum nisl egestas a. Nulla facilisis, velit rutrum
                        vulputate pharetra, nibh ipsum posuere eros, a gravida massa mi nec diam. Nunc rutrum pulvinar
                        vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Nunc pulvinar purus quam, quis convallis arcu placerat quis. Donec ac consequat mauris.
                        Morbi euismod purus in sapien vulputate dignissim. Fusce semper auctor nisl. Proin tincidunt, libero
                        sed hendrerit blandit, quam leo porta nulla, a gravida lacus velit fringilla justo.
    
                        2. Suspendisse lacinia mauris ut massa ultrices dictum. Morbi vulputate fringilla metus nec semper. Sed
                        non sodales lectus. Ut id dictum urna. Donec et tortor vel diam finibus egestas id in augue.
                        Maecenas fringilla nisi luctus sem porta, a aliquet urna iaculis. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Maecenas semper egestas erat, cursus tristique
                        ligula porttitor egestas. Donec mattis neque diam, sed blandit eros pulvinar sit amet. Sed imperdiet
                        quam id erat ornare, et ullamcorper nunc cursus.
    
                        3. Sed egestas sollicitudin porta. Vestibulum dui orci, dapibus sed erat vitae, tempor posuere sapien.
                        Nulla vulputate pretium finibus. Sed tortor leo, tristique sit amet purus sed, maximus tincidunt
                        est. Mauris non facilisis dui, ut gravida enim. Mauris et diam mi. Vestibulum ac velit placerat,
                        maximus libero id, elementum nunc. Aliquam sed libero vel erat luctus sollicitudin. Morbi
                        consectetur sed erat rhoncus scelerisque. Sed nec iaculis orci.
    
                        4. Praesent sit amet porta magna. Aenean augue ex, ullamcorper non sagittis nec, fermentum bibendum
                        arcu. Proin sagittis scelerisque lectus, eget tincidunt velit feugiat in. Cras sem felis, porttitor
                        a ullamcorper at, feugiat id orci. Pellentesque varius vehicula tincidunt. Fusce sit amet arcu
                        turpis. Nam rutrum faucibus lacus.
    
                        5. In et convallis elit. Cras sed sodales diam. Donec dolor nisi, porta eu felis sit amet, rutrum
                        interdum mauris. Sed semper vitae augue et dictum. Quisque lobortis ultrices ipsum in ultrices.
                        Donec ac metus nec massa cursus mattis. Duis pharetra sem vel ex molestie volutpat. Sed lobortis
                        semper purus, sit amet vulputate ipsum. Fusce eget orci massa.

                    </pre>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>