<mat-tab-group>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <mat-tab label="Aktualne">
                    <table style="width: 100%; text-align: center;" mat-table [dataSource]="orders"
                        class="mat-elevation-z8">

                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef> Model </th>
                            <td mat-cell *matCellDef="let order"> {{order.car.brand}} </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Marka </th>
                            <td mat-cell *matCellDef="let order"> {{order.car.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="startDate">
                            <th mat-header-cell *matHeaderCellDef> Poczatek rezerwacji </th>
                            <td mat-cell *matCellDef="let order"> {{order.rentStart | date: 'dd.MM.yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="endDate">
                            <th mat-header-cell *matHeaderCellDef> Data oddania </th>
                            <td mat-cell *matCellDef="let order"> {{order.rentEnd | date: 'dd.MM.yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pricePerDay">
                            <th mat-header-cell *matHeaderCellDef> Cena za dobę </th>
                            <td mat-cell *matCellDef="let order"> {{order.car.pricePerDay}}zł </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef
                                style="border-left: 2px solid black; margin-left: 10px;"> Cena
                                sumaryczna </th>
                            <td mat-cell *matCellDef="let order"
                                style="border-left: 2px solid black; margin-left: 10px">
                                {{calculatePrice(order.car.pricePerDay, order.rentStart,
                                order.rentEnd)}}zł </td>
                        </ng-container>

                        <ng-container matColumnDef="cancel">
                            <th mat-header-cell *matHeaderCellDef> Anulowanie </th>
                            <td mat-cell *matCellDef="let order">
                                <button [disabled]="isHistory" mat-button (click)="cancelOrder(order.id)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-tab>
            </div>
            <div class="col-6">
                <mat-tab label="Historia">
                    <table style="width: 100%; text-align: center;" mat-table [dataSource]="historyOrders"
                        class="mat-elevation-z8">

                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef> Model </th>
                            <td mat-cell *matCellDef="let order"> {{order.car.brand}} </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Marka </th>
                            <td mat-cell *matCellDef="let order"> {{order.car.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="startDate">
                            <th mat-header-cell *matHeaderCellDef> Poczatek rezerwacji </th>
                            <td mat-cell *matCellDef="let order"> {{order.rentStart | date: 'dd.MM.yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="endDate">
                            <th mat-header-cell *matHeaderCellDef> Data oddania </th>
                            <td mat-cell *matCellDef="let order"> {{order.rentEnd | date: 'dd.MM.yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pricePerDay">
                            <th mat-header-cell *matHeaderCellDef> Cena za dobę </th>
                            <td mat-cell *matCellDef="let order"> {{order.car.pricePerDay}}zł </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef
                                style="border-left: 2px solid black; margin-left: 10px;"> Cena
                                sumaryczna </th>
                            <td mat-cell *matCellDef="let order"
                                style="border-left: 2px solid black; margin-left: 10px">
                                {{calculatePrice(order.car.pricePerDay, order.rentStart,
                                order.rentEnd)}}zł </td>
                        </ng-container>

                        <ng-container matColumnDef="cancel">
                            <th mat-header-cell *matHeaderCellDef> Anulowanie </th>
                            <td mat-cell *matCellDef="let order">
                                <button [disabled]="true" mat-button>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </mat-tab>
            </div>
        </div>
    </div>
</mat-tab-group>